* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
}


.container{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: rgb(19, 8, 8);
    padding: 10px;
    border-radius: 10px;
}
.calculator form input{
    border: 10;
    outline: 10;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(300, 290, 270, 0.1),5px 5px 15px rgba(4, 7, 4, 0.2);
    background: grey;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
}
form input.equal{
    width: 140px;
}



form input.operator{
    color: white;
}







